*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: satoshi, arial, sans-serif ;
}
 
@font-face {
    font-family: "superbasic";
    src: url(./Super_Basic.ttf)
}

body{
    background-image: linear-gradient(to left top, #742183, #691f7e, #5e1e79, #541c74, #491a6e, #491768, #491463, #48115d, #4f0d56, #540b4e, #580b47, #5a0c41);
    font-family: inter;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    text-decoration: none;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    background-color: #1E1E1E;
    color: white;
    height: 35px;
    width: 190px;
    transition: scale 0.2s;

}

button:hover{
    cursor: pointer;
    scale: 1.2;
}

a{
    text-decoration: none;
    color: white;
    height: fit-content;

}

a:hover{
    color: grey;
}

nav{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #2D2A3C;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.mainBanner{
    margin: 2em 0;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #b9b9b9;
    justify-content: center;
 
}

.mainBannerImg{
    width: 100%;
}

h1, h2{
    font-family: superbasic;
    color: white;
    letter-spacing: 5px;
}

footer{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: #2D2A3C;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    left: 0;
    bottom: 0;
   
}

.navLinks{
    display: flex;
    color: white;
    a{
        margin: 0.5em;
    }
}

.navSearchBar[type=text], .categoryInput[type=text]{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    
}

.navSearchBar[type=text], .categoryInput[type=text]{
    border: 1px solid #b9b9b9;
}

.navSearchBar, .categoryInput{
    display: flex;
    justify-content: right;
    margin-right: 2em;
    border-radius: 10px;
    background-color: #1E1E1E;
    caret-color: white;
    color: white;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: fit-content; */
}

::placeholder{
    color: #b9b9b9;
}

table{
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    };
    td,th {
        padding: 6px;
    };
}

.actorContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    width: 550px;

}

.castingContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
}

.actorContainer > * {
    flex: 1 1 80px;
}

.directorContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    width: 550px;
}

.actor{
    display: flex;
    padding: 1em;
    
    align-items: center;
    font-size: larger;
    width: fit-content;
}

.director{
    display: flex;
    padding: 1em;
    align-items: center;
    font-size: larger;
}

.actor > *{
    padding: 0.5em;
}

.director > *{
    padding: 0.5em;
}

.actorImg{
    width: 70px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

.directorImg{
    width: 70px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1300px;
    margin: 1.5em;

}

.card{
    position: relative;
    background-color: grey;
    width: 200px;
    height: 275px;
    margin: 1.5em;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: scale 0.2s;
    transition: filter 0.2s;
    z-index: 998;

}

.card:hover{
    cursor: pointer;
    scale: 1.2;
    /* filter: drop-shadow(0px 0px 30px #000000); */
    .cardPoster{
        filter: brightness(50%);
    }
    .cardText{
        opacity: 100;
        transition: opacity 0.2s;  
    }
    
}

.cardText{
    display: flex;
    position: absolute;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 51.99%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    opacity: 0;
  }

.cardPoster{
    width: 100%;
    border-radius: 10px;
    height: auto;
    transition: filter 0.2s
}

.formContainer{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 3em;
    flex-direction: column;
}

.formAddType{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    input, label{
        margin: 10px;
    }
}

.addFormButton{
    margin: 0.5em;
}

.submitAddType{
    background-color: #2D2A3C;
    color: #b9b9b9;
    border-radius: 7px;
    border: none;
}

